*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
    /*    height: 4000px; */
}
.container {
    max-width: 1280px;
    margin: auto;
    padding: 1rem 2rem;
    overflow: hidden;
}
.clearfix {
    clear: both;
}

/********************first section********/
section.header {
    height: 650px;
    background-image: url("../images/header-bg.jpg");
    background-size: cover;
    position: relative;
}
section.header .header-head {
    padding-top: 25px;
}
section.header .header-head img {
    float: left;
}
section.header .header-head nav {
    float: right;
}
section.header .header-head nav ul li {
    display: inline-block;
    padding-left: 10px;
}
section.header .header-head nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
section.header .header_content {
    width: 700px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
section.header .header_content h1 {
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 19px;
}
section.header .header_content p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 2%;
}

section.header .header_content button {
    width: 180px;
    border: 0;
    outline: none;
    padding: 20px;
    font-size: 15px;
    margin-left: 3%;
    border-radius: 7px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

section.header .header_content button:first-child {
    background: #fff;
    color: #000;
}

section.header .header_content button:last-child {
    background: #8be2e5;
    color: #fff;
}
section.header .header-footer {
    width: 35px;
    height: 56px;
    border: 2px solid #fff;
    left: 49%;
    position: absolute;
    border-radius: 18px;
    bottom: 10%;
}
section.header .header-footer .scroll {
    width: 5px;
    height: 10px;
    background-color: #fff;
    position: relative;
    animation: scrolling 1s ease-in-out infinite;
    top: 4px;
    margin: auto;
}
@keyframes scrolling {
    0% {
        opacity: 0;
        top: 5px;
    }
    30% {
        opacity: 1;
        top: 10px;
    }
    100% {
        opacity: 0;
        top: 25px;
    }
}
/*********************second section******************/
section.be-first {
    height: 600px;
    background-image: url("../images/be-the-first-bg.jpg");
    padding-top: 10%;
    margin-bottom: 24%;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
}
section.be-first .befirst-center h2 {
    color: #fff;
    font-weight: bold;
    font-size: 40px;
}
section.be-first .befirst-center p {
    color: #fff;
    font-size: 25px;
    margin-top: 3%;
    margin-bottom: 2%;
}
section.be-first .befirst-img img {
    text-align: center;
}
section.be-first .befirst-img img {
    width: 500px;
}
/*******************third section******************/
section.feature {
    padding-bottom: 20%;
}
section.feature .feature_feat {
    width: 30%;
    float: left;
    margin-left: 3%;
}
section.feature .feature_feat:nth-of-type(1) hr {
    height: 5px;
    background-color: #6d3f96;
    border: 0;
}
section.feature .feature_feat:nth-of-type(2) hr {
    height: 5px;
    background-color: #70cbce;
    border: 0;
}
section.feature .feature_feat:nth-of-type(3) hr {
    height: 5px;
    background-color: #fdc05d;
    border: 0;
}
section.feature .feature_feat h2 {
    font-size: 20px;
    margin-bottom: 5%;
    margin-top: 5%;
}
section.feature .feature_feat p {
    color: #929496;
    line-height: 1.2;
}
/****************four section************/
section.pricing {
    background-color: #70cbce;
    text-align: center;
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
}
section.pricing h2 {
    color: #fff;
    font-size: 50px;
    padding-bottom: 5px;
}
section.pricing p {
    color: #fff;
    font-size: 19px;
    margin-bottom: 7%;
}
section.pricing .pricing_flex {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
section.pricing .pricing_flex .flex_item {
    width: 30%;
}
section.pricing .pricing_flex .flex_item:nth-of-type(1),
section.pricing .pricing_flex .flex_item:nth-of-type(3) {
    margin-top: 1.5%;
}
section.pricing .pricing_flex .flex_item ul {
    list-style: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 0.5s ease-in-out;
}
section.pricing .pricing_flex .flex_item ul:hover {
    margin-top: -10px;
}

section.pricing .pricing_flex .flex_item ul li.pricing {
    color: #fff;
    background-color: #231f20;
    padding: 20px;
    font-weight: bold;
    font-size: 22px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
section.pricing .pricing_flex .flex_item ul li.dollar {
    color: #fff;
    background-color: #231f20;
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
}
section.pricing .pricing_flex .flex_item ul:hover li.dollar {
    background-color: #333;
}
section.pricing .pricing_flex .flex_item ul li.dollar small {
    font-weight: normal;
    color: #929496;
}
section.pricing .pricing_flex .flex_item ul li.list {
    font-weight: bold;
    padding: 20px;
    border-bottom: 1px dotted #e8eaea;
    background-color: #fff;
}
section.pricing .pricing_flex .flex_item ul li.content {
    color: #929496;
    font-size: 14px;
    padding: 20px;
    background-color: #fff;
    font-weight: normal;
}
section.pricing .pricing_flex .flex_item ul li.btn {
    color: #70cbce;
    text-transform: uppercase;
    font-size: 15px;
    background-color: #fff;
    padding: 15px;
    cursor: pointer;
}
section.pricing .pricing_flex .flex_item ul li.btn:hover {
    background-color: #f5f5f5;
}
/**********************five section***********/
section.invite {
    text-align: center;
    background-color: #f5f5f5;
    height: auto;
    padding-bottom: 10%;
    padding-top: 10%;
}
section.invite .fa-envelope {
    font-size: 50px;
    color: #70cbce;
    border: 2px solid #70cbce;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 15px;
}
section.invite h2 {
    font-size: 40px;
    margin-bottom: 15px;
}
section.invite p {
    margin-bottom: 20px;
    font-size: 15px;
}
section.invite input {
    display: block;
    width: 350px;
    padding: 20px;
    margin: auto;
    border: 0;
    border-radius: 10px;
    outline: 0;
}
section.invite button {
    margin-top: 25px;
    width: 200px;
    height: 50px;
    padding: 20px;
    border: 0;
    color: #fff;
    background-color: #70cbce;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}
/***********************six section***********/
section.info {
    padding-bottom: 10%;
    padding-top: 10%;
}
section.info .info-desc {
    width: 70%;
    margin: auto;
}
section.info .info-desc .info_img {
    width: 20%;
    float: left;
}
section.info .info-desc .info-content {
    width: 80%;
    float: left;
}
/***********footer section****************/

#main-footer {
    background-color: #70cbce;
    color: #6d3f96;
    font-size: 20px;
}

#main-footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main-footer .footer-content .social .fab {
    padding: 10px;
    margin-right: 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 20px;
    border: 2px solid #fff;
    text-align: center;
    font-size: 24px;
}
#main-footer .footer-content .social .fab:hover {
    background-color: #6d3f96;
}